# Ignore data and logs (keep empty folder placeholders)
data/
logs/
downloaded_data/
flagged/
models/
__pycache__/

# Allow placeholder files to keep empty dirs in git
!data/.gitkeep
!logs/.gitkeep
!downloaded_data/.gitkeep
!flagged/.gitkeep
!models/.gitkeep

# Ignore virtual environment
venv/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Model checkpoints
*.pt

# Ignore temporary or backup files
*.csv
*.tsv
*.json
*.log
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db